{% extends "base.html.twig" %}

{% block body %}
   <div class="container">
     {% if cars != null %}
         <a class="btn btn-outline-primary mt-3" href="{{ path ("add_car")}}">Add new car</a>
         <br><br>
         <form action="{{ path ("sort_by_name_car") }}" method="POST">
            <input type="search" name="name" required placeholder="Enter car name">
            <input type="submit" value="Search">
         </form>
         <br><br>   
          
         <table class="table text-center">
         <thead>
            <tr>
               <th>Car ID</th>
               <th>Car Name</th>
               <th>Car Model
                  <a href="{{ path("sort_model_asc_car") }}"> 
                     <img src="{{ asset("images/up.jpg") }}" width=15 height=15>
                  </a> 
                  <a href="{{ path("sort_model_desc_car") }}"> 
                     <img src="{{ asset("images/down.jpg") }}" width=15 height=15>
                  </a>  
               </th>
               <th>Car Price
                  <a href="{{ path("sort_price_asc_car") }}"> 
                     <img src="{{ asset("images/up.jpg") }}" width=15 height=15>
                  </a> 
                  <a href="{{ path("sort_price_desc_car") }}"> 
                     <img src="{{ asset("images/down.jpg") }}" width=15 height=15>
                  </a>  
               </th>
               <th>Menu</th>
            </tr>
         </thead>
         <tbody>
            {% for car in cars %}
               <tr>
                  <td>{{ car.id }}</td>
                  <td>
                   <a href="{{ path('view_car', {'id' : car.id }) }}">
                         {{ car.CarBrand }}   {{ car.CarName }} 
                     </a>        
                  </td>
                  <td>{{ car.CarModel }}</td>
                  <td> {{ car.CarPrice }} $ </td>
                  <td>
                     <a class="btn btn-primary" href="{{ path('view_car', {'id' : car.id }) }}">
                        DETAIL
                     </a>
                     <a class="btn btn-warning" href="{{ path('edit_car', {'id' : car.id }) }}">
                        EDIT
                     </a>
                     <a class="btn btn-danger" href="{{ path('delete_car_by_id', {'id' : car.id }) }}">
                        DELETE
                     </a>
                  </td>
               </tr>
            {% endfor %}    
         </tbody> 
       </table>
     {% else %}
         <center>
               <h1 class="text text-warning mt-5">No car found !</h1>
               <form action="{{ path ("sort_by_name_car") }}" method="POST">
                  <input type="search" name="name" required placeholder="Enter car name">
                  <input type="submit" value="Search">
               </form>
         </center>     
     {% endif %}
   </div>
{% endblock %}