{% extends "base.html.twig" %}

{% block body %}
   <div class="container">
      <table class="table text-center">
         <thead>
            <tr>
               <th>Car ID</th>
               <th>Car Name</th>
               <th>Menu</th>
            </tr>
         </thead>
         <tbody>
            {% for car in cars %}
               <tr>
                  <td>{{ car.id }}</td>
                  <td>
                   <a href="{{ path('view_car', {'id' : car.id }) }}">
                         {{ car.CarName }}
                     </a>        
                  </td>
                  <td>
                     <a class="btn btn-primary" href="{{ path('view_car', {'id' : car.id }) }}">
                        DETAIL
                     </a>
                      <a class="btn btn-danger" href="{{ path('delete_car_by_id', {'id' : car.id }) }}">
                        DELETE
                     </a>
                  </td>
               </tr>
            {% endfor %}    
         </tbody> 
      </table>
   </div>
{% endblock %}