{% extends "base.html.twig" %}

{% block body %}
   <div class="container">
      <table class="table table-striped">
         <thead>
            <tr>
               <th>Job ID</th>
               <th>Job Name</th>
               <th>Job Company</th>
               <th>Job Salary</th>
               <th>Person Name</th>
               <th>Menu</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>{{ job.id }}</td>
               <td>{{ job.JobName }}</td>
               <td>{{ job.JobCompany }}</td>
               <td>{{ job.Salary }}</td>       
               <td>
                  {% for p in job.Person %}
                  <a href="{{ path('view_person', {'id': p.id })}}">
                     {{ p.PersonName }}
                  </a>     
                  <br>
                  {% endfor %}
               </td>
               <td>
                  <a class="btn btn-warning" href="{{ path ('edit_job', {'id' : job.id }) }}">
                  EDIT
                  </a>
                  <a class="btn btn-danger" href="{{ path ('delete_job_by_id', {'id' : job.id }) }}">
                  DELETE
                  </a>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
{% endblock %}