{% extends "base.html.twig" %}

{% block body %}
   <div class="container">
      <table class="table text-center">
         <thead>
            <tr>
               <th>Person Name</th>
               <th>Person Age</th>
               <th>Person Code</th>
               <th>Person Address</th>
               <th>Person Mobile</th>
               <th>Person Birthday</th>
               <th>Person Cars</th>
               <th>Person Jobs</th>
               <th>Menu</th>
            </tr>
         </thead>
         <tbody>
               <tr>
                  <td>{{ person.PersonName }} </td>
                  <td>{{ person.PersonAge }} </td>
                     <td>
                     {% if person.personDetail != null %}
                        {{ person.personDetail.PersonCode }}
                     {% else %}
                         <i>N/A</i> 
                     {% endif %}       
                  </td>
                  <td>
                     {% if person.personDetail != null %}
                        {{ person.personDetail.PersonAddress }}
                     {% else %}
                         <i>N/A</i> 
                     {% endif %}       
                  </td>
                  <td>
                     {% if person.personDetail != null %}
                          {{ person.personDetail.PersonMobile }}
                     {% else %}
                         <i>N/A</i> 
                     {% endif %}        
                  </td>
                  <td>
                     {% if person.personDetail != null %}
                        {{ person.personDetail.PersonBirthday | date('d/m/Y') }}
                     {% else %}
                         <i>N/A</i> 
                     {% endif %}
                  </td>
                  <td> 
                     {% for car in person.cars %}
                       <a href="{{ path('view_car', {'id' : car.id }) }}">
                           {{ car.CarName }}
                       </a>
                       <br>
                     {% endfor %}
                  </td>
                  <td>
                     {% if person.jobs != null %}
                        {% for job in person.jobs %}
                        <a href="{{ path('view_job', {'id' : job.id }) }}">
                             {{ job.JobName }}
                        </a>
                        <br>
                        {% endfor %}
                     {% else %}
                        <i>N/A</i> 
                     {% endif %}                 
                   </td>
                  <td>
                     <a class="btn btn-warning" href="{{ path('edit_person', {'id' : person.id }) }}">
                        EDIT
                     </a>
                     <a class="btn btn-danger" href="{{ path('delete_person_by_id', {'id' : person.id }) }}">
                        DELETE
                     </a>
                  </td>
               </tr>
         </tbody> 
      </table>
   </div>
{% endblock %}