{% extends "base.html.twig" %}

{% block body %}
   <div class="container">
      <table class="table text-center">
         <thead>
            <tr>
               <th>Person ID</th>
               <th>Person Name</th>
               <th>Menu</th>
            </tr>
         </thead>
         <tbody>
            {% for person in persons %}
               <tr>
                  <td>{{ person.id }}</td>
                  <td>
                   <a href="{{ path('view_person', {'id' : person.id }) }}">
                         {{ person.PersonName }}
                     </a>        
                  </td>
                  <td>
                     <a class="btn btn-primary" href="{{ path('view_person', {'id' : person.id }) }}">
                        DETAIL
                     </a>
                     <a class="btn btn-danger" href="{{ path('delete_person_by_id', {'id' : person.id }) }}">
                        DELETE
                     </a>
                  </td>
               </tr>
            {% endfor %}    
         </tbody> 
      </table>
   </div>
{% endblock %}