{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-md col-md-8 mt-3">
    {# {% if book != null %} #}
    <table class="table table-responsive-md">
        <thead>
            <tr>
                <th>Book Title</th>
                <th>Book Price</th>
                <th>Book Cover</th>
                <th>Book Year</th>
                <th>Book Author</th>
                <th>Book Genre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
               <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.price }} $ </td>
                    <td>
                        <img src="{{ asset('covers/'~book.cover) }}" width="100" height="120">          
                    </td>
                    <td>{{ book.year }}</td>
                    <td> </td>
                    <td> </td>
                    <td> 
                        <a class="btn btn-warning" href="{{ path('book_edit', {'id': book.id }) }}">
                        Edit
                        </a>
                        <a class="btn btn-danger" href="{{ path('book_delete', {'id': book.id }) }}"
                        onclick="return confirm('Do you want to delete this book ?')">
                        Delete
                        </a>
                    </td>
                </tr>
        </tbody>
    </table>
    {# {% else %}
        <h3> Book not existed </h3>
        <a href="{{ path ('book_index') }}"> Redirect to book list </a>
    {% endif %} #}
    </div>
{% endblock %}