{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-md col-md-8 mt-3">
    {% if is_granted("ROLE_ADMIN") %}
        <a class="btn btn-primary" href="{{ path('book_add') }}">
         Add book
        </a>
    {% endif %}
      
      <br><br>
      <div class="form-group col-md-4">
        <form action="{{path('search_book_by_title')}}" method="POST">
            <input class="form-control" type="search" name="title" required placeholder ="Search book by title">
        </form>
      </div>
    {% if books == null %}
        <h4 class="text text-danger mt-3">No book found</h4>
    {% else %}
        <table class="table table-responsive-md mt-3">
            <thead>
                <tr>
                    <th>
                    Book ID
                    <a class="text-decoration-none" href="{{path('sort_book_id_asc')}}">
                        <img src="{{asset('images/up.png')}}" width="20px" height="20px">
                    </a>
                    <a class="text-decoration-none" href="{{path('sort_book_id_desc')}}">
                        <img src="{{asset('images/down.png')}}" width="20px" height="20px">
                    </a>
                    </th>
                    <th>Book Title</th>
                    <th>Book Cover</th>
                    {% if is_granted("ROLE_STAFF") %}
                              <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                        <td>{{ book.id }}</td>
                        <td>{{ book.title }}</td>
                        <td>
                            <a href="{{ path('book_detail', {'id': book.id }) }}">
                                <img src="{{ asset('covers/'~book.cover) }}" width="100" height="120">   
                            </a>          
                        </td>
                        {% if is_granted("ROLE_STAFF") %}
                            <td>       
                            <a class="btn btn-warning" href="{{ path('book_edit', {'id': book.id }) }}">
                            Edit
                            </a>
                            <a class="btn btn-danger" href="{{ path('book_delete', {'id': book.id }) }}"
                            onclick="return confirm('Do you want to delete this book ?')">
                            Delete
                            </a>
                        </td>
                        {% endif %}       
                    </tr>
            {% endfor %}       
            </tbody>
        </table>
    {% endif %}
    </div>
{% endblock %}