{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-md col-md-8 mt-3">
    <table class="table table-responsive-md">
        <thead>
            <tr>
                <th>Book ID</th>
                <th>Book Title</th>
                <th>Book Price</th>
                <th>Book Cover</th>
                <th>Book Year</th>
                <th>Book Author</th>
                <th>Book Genre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          {% for book in books %}
               <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.price }} $ </td>
                    <td>
                        <img src="{{ asset('covers/'~book.cover) }}" width="100" height="120">          
                    </td>
                    <td>{{ book.year }}</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
          {% endfor %}       
        </tbody>
    </table>
    </div>
{% endblock %}