<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="{{ asset ('css/bootstrap/bootstrap.min.css')}} ">
   <link rel="stylesheet" href="{{ asset ('css/style.css')}}">
   <script src="{{ asset ('js/bootstrap/bootstrap.min.js')}}"></script>
</head>
<body>
   <div class="container-fluid">
      <p class="text-primary">This is a demo page</p>
      <h5>
         <a href="{{ path ('home') }}">Back to homepage</a>
      </h5>
      <img src="{{ asset ('images/hanoi.jpg') }}" alt="">
   </div>
</body>
</html>


